body{
	/*background: #ecf0f1;*/
	margin: 0;
	padding: 0;
	font-family: Karla, sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #000000;
	transition: 0.2s ease;
}

a:hover{
	color:#3498db; 
}

header{
	margin-bottom: 10px;
}

audio{
	max-width: 100%;
}

section{
	padding: 20px 10px;
}

input,textarea{
	border: none;
	outline: 0;
	font-size: 16px;
	font-family: Karla;
}

textarea{
	resize: vertical;
}

.scale img{
	transition: 0.5s ease;
}

.scale:hover img{
	transform: scale(1.1);
	opacity: 1!important;
}

.container{
	padding: 10px;
}

.top-info{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #bdc3c7;
}

.fa-calendar-alt{
	font-size: 20px;
	margin-right: 10px;
	color: #7f8c8d;
}

.social{
	margin-right: 30px;
}

.social a{
	margin-right: 20px;
	font-size: 20px;
}

.head{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	border-bottom: 1px solid #bdc3c7;
}

#logo{
	font-family: Old English Text MT;
	font-size: 72px;
	user-select: none;
}

.search{
	margin: auto 0;
	margin-left: 30px;
}

.search-form{
	display: flex;
	height: 45px;
	border-radius: 3px;
	overflow: hidden;
}

.search-form input{
	height: 100%;
	box-sizing: border-box;
	padding: 0 16px;
}

.searchtext{
	width: 400px;
	background: #ecf0f1;
}

.searchbutton{
	cursor: pointer;
	font-size: 20px!important;
	background: #ecf0f1;
}

nav{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #bdc3c7;
	box-shadow: 0 3px 15px -3px  rgba(0,0,0,0.3); 
}

nav ul{
	display: flex;
	justify-content: space-around;
	height: 50px;
	line-height: 47px;
	width: 90%;
}

nav li{
	flex: 1;
	text-align: center;
	transition: 0.3s ease;
}

nav li:hover{
	border-bottom: 3px solid #3498db;
}

nav a{
	display: block;
	font-size: 24px;
	font-family: ABeeZee;
	box-sizing: border-box;
}

nav .active{
	border-bottom: 3px solid #3498db;
}

.top-section{
	display: flex;
}

.top-main{
	width: 60%;
}

.section-title{
	font-size: 28px;
	font-family: ABeeZee;
	margin-bottom: 15px;
}

.top-side{
	width: 40%;
}

.popular a{
	display: flex;
	margin-bottom: 10px;
}

.popular-image{
	/*flex: 0 0 200px;*/
	max-width: 44%;
	overflow: hidden;
}

.popular-image img{
	width: 100%;
}

.popular-info{
	margin-left: 10px;
}

.popular-title,.middle-title{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 900;
	height: 50px;
	overflow: hidden;
}

.main-news{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main-news a{

}

.main-news-image{
	width: 100%;
}

.main-news-image img{
	width: 100%;
}

.main-news-info{
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	padding: 40px 20px;
	box-shadow: inset 0px -50px 100px 20px rgba(0,0,0,0.8);
	box-sizing: border-box;
}

.main-news-title{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
}

.main-news-author{
	font-size: 24px;
}

.top-main-banner{
	width: 100%;
	margin: 10px 0;
	border-radius: 3px;
}

.top-main-banner img{
	width: 100%;
}

.middle-section{
	
}

.middle-section-content{
	display: flex;
}

.middle{
	padding: 10px;
	flex: 1;
	overflow: hidden;
	border-radius: 5px;
	font-size: 0;
}

.middle-image{
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.middle-image img{
	width: 100%;
	margin-bottom: 0;
}

.middle-info{
	background: rgba(128,128,128,0.08);
	padding: 10px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 3px 15px -3px rgba(0,0,0,0.4)
}

.middle-author{
	font-size: 16px;
}


.reviews-section{
	display: grid;
	grid-template-columns: 50% 50%;
}

.review,.podcast{
	display: flex;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #bdc3c7;
	box-shadow: 0 3px 15px -3px rgba(0,0,0,0.4);
	margin-bottom : 50px;
}

.reviews,.podcasts{
	padding: 0 20px;
}

.review-list,.podcast-list{
	padding: 20px 0;
}

.review-image{
	max-width: 20%;
	overflow: hidden;

}

.review-image img{
	width: 100%;
	border-radius: 100%;
}


.review-info{
	margin-left: 20px;
	font-family: Karla;
	max-width: 80%;
}

.review-description,.podcast-player{
	margin-bottom: 25px;
}

.podcast-title{
	margin-bottom: 10px;
}

.job-comparison{
	display: grid;
	/*grid-template-columns: 20% 40% 40%;*/
	font-size: 18px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #dcdde1;
	margin: 30px 0;
}

.comparison-head,.job-row{
	display: flex;
}

.comparison-head>div:nth-child(n+1),.job-row>div:nth-child(n+1){
	flex: 2;
	padding: 15px 10px;
	box-sizing: border-box;
}

.comparison-head>div:nth-child(1),.job-row>div:nth-child(1){
	flex: 1;
	background: #f5f6fa;
	min-width: 20%;
	/*word-break:break-all;*/
}

.comparison-head>div{
	background: #dcdde1!important;
	font-weight: bold;
}


.contact-section{
	display: grid;
	grid-template-columns: 40% 60%;
}

.contact,.map{
	padding: 0 20px;
}

.material-input{
	border-bottom: 1px solid #bdc3c7;
	padding: 10px;
	background: rgba(245,246,250,0.4);
}

.material-button{
	padding: 10px 20px;
	color: #FFFFFF;
	background: #3498db;
	cursor: pointer;
	margin-left: auto;
}

.contact-field{
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

.contact-field label{
	display: block;
	padding: 5px;
	font-size: 14px;
}

.map{
	padding-left: 50px;
}

.map iframe{
	width: 100%;
	border: 0;
}




@media screen and (max-width:940px){

	.head{
		flex-direction: column;
		text-align: center;
	}

	.search{
		margin: 0 auto;
		margin-top: 20px;
	}

	nav ul{
		width: 100%;
	}

	.top-section{
		flex-direction: column;
	}

	.top-main{
		width: 100%;
		box-sizing: border-box;
	}

	.top-side{
		width: 100%;
		box-sizing: border-box;
	}
	
	.popular-content,.middle-section-content{
		display: flex;
		flex-wrap: wrap;
	}

	.popular,.middle{
		flex: 0 0 50%;
		padding: 10px;
		box-sizing: border-box;
	}

	.popular a{
		flex-direction: column;
	}

	.popular-image{
		/*flex: 0 0 200px;*/
		max-width: 100%;
		margin-bottom: 10px;
	}

	.popular-info{
		margin-left: 0;
	}
}