body{
	/*background: #ecf0f1;*/
	margin: 0;
	padding: 0;
	font-family: Karla, sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #000000;
	transition: 0.2s ease;
}

a:hover{
	color:#3498db; 
}

header{
	margin-bottom: 10px;
}

audio{
	width: 100%;
}

section{
	padding: 20px 10px;
}

input,textarea{
	border: none;
	outline: 0;
	font-size: 16px;
	font-family: Karla;
}

textarea{
	resize: vertical;
}

.date{
	font-size: 18px;
}

.description{
	font-size: 18px;
	margin: 20px 0;
	line-height: 1.5;
}

#menu{
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 100;
	transition: 0.5s ease;
}

#menu-list{
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	transition: 0.5s ease;
	font-size: 24px;
}

#menu-list li{
	width: 100%;
	margin-left: 20px;
}

#menu-list li a{
	display: block;
	padding: 20px;
}

.menu-open,.menu-close{
	margin-right: auto;
	font-size: 24px;
	cursor: pointer;
	padding: 0px 10px;
	display: none;
	transform: scale(1.5, 1);
	width: 22px;
}

.menu-close{
	margin-bottom: 50px;
	margin-top: 5px;
}


#menu .social{
	margin-top: 45px;
	margin-left: 45px;
}

#menu .social a{
	font-size: 28px;
}

.scale img{
	transition: 0.5s ease transform;
}

.scale:hover img{
	transform: scale(1.05);
	opacity: 1!important;
}

.container{
	padding: 10px;
}

.top-info{
	display: flex;
	justify-content: flex-end;
	border-bottom: 1px solid #bdc3c7;
}

.calendar-icon{
	margin-right: 10px;
	font-size: 18px;
	vertical-align: top;
}

.social{
	margin-right: 30px;
}

.social a{
	margin-right: 20px;
	font-size: 20px;
}

.head{
	display: flex;
	justify-content: space-around;
	padding: 20px;
	border-bottom: 1px solid #bdc3c7;
}

#logo{
	font-family: Old English Text MT;
	font-size: 72px;
	user-select: none;
}

.search{
	margin: auto 0;
	margin-left: 18px;
}

.search-form{
	display: flex;
	height: 45px;
	border-radius: 3px;
	overflow: hidden;
}

.search-form input{
	height: 100%;
	box-sizing: border-box;
	padding: 0 16px;
}

.searchtext{
	width: 400px;
	background: #ecf0f1;
}

.searchbutton{
	cursor: pointer;
	font-size: 20px!important;
	background: #ecf0f1;
}

nav{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #bdc3c7;
	box-shadow: 0 3px 15px -3px  rgba(0,0,0,0.3); 
}

nav ul{
	display: flex;
	justify-content: space-around;
	height: 50px;
	line-height: 47px;
	width: 90%;
}

nav li{
	flex: 1;
	-webkit-flex: 1;  /* For Safari*/
	-ms-flex: 1;  /* For IE*/ 
	text-align: center;
	transition: 0.3s ease;
}

nav li:hover{
	border-bottom: 3px solid #3498db;
}

nav a{
	display: block;
	font-size: 24px;
	font-family: ABeeZee;
	box-sizing: border-box;
}

nav .active{
	border-bottom: 3px solid #3498db;
}

.top-section{
	display: flex;
	margin-bottom: 30px;
}

.top-main{
	width: 60%;
	overflow: hidden;
}

.section-title,.section-title-small{
	font-size: 28px;
	font-family: ABeeZee;
	margin-bottom: 15px;
}

.top-side{
	width: 40%;
}

.popular a{
	display: flex;
	margin-bottom: 10px;
}

.popular-image{
	/*flex: 0 0 200px;*/
	width: 40%;
	overflow: hidden;
}

.popular-image img{
	width: 100%;
}

.popular-info{
	margin-left: 10px;
	width: 60%;
}

.popular-title,.middle-title{
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 900;
	height: 46px;
	overflow: hidden;
}

.main-news{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main-news a{

}

.main-news-image{
	width: 100%;
}

.main-news-image img{
	width: 100%;
}

.main-news-info{
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	padding: 40px 20px;
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
	box-sizing: border-box;
}

.main-news-title{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
}

.main-news-author{
	font-size: 24px;
}


.middle-section{
	display: flex;
}

.middle-container{
	width: 60%;
}

.middle-section-content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.middle{
	flex: 0 0 45%;
	-webkit-flex: 0 0 45%;  /* For Safari*/
	-ms-flex: 0 0 45%;  /* For IE*/ 
	border-radius: 5px;
	font-size: 0;
	margin-bottom: 30px;
}

.middle-image{
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.middle-image img{
	width: 100%;
	margin-bottom: 0;
}

.middle-info{
	background: rgba(128,128,128,0.08);
	padding: 10px;
	border-radius: 0 0 5px 5px;
	transition: 0.3s ease;
	border: 1px solid rgba(128,128,128,0.5);
	box-shadow: 0 3px 15px -3px rgba(0,0,0,0.4);
}

.middle:hover .middle-info,.tutorial:hover .middle-info{
	box-shadow: none;
}

.middle-author{
	font-size: 16px;
}

.category-section{
	width: 40%;
}

.category-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0 100px 0 10px;
}

.category{
	margin-bottom: 20px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	flex: 0 0 45%;
	-webkit-flex: 0 0 45%;  /* For Safari*/
	-ms-flex: 0 0 45%;  /* For IE*/ 
}

.category-image img{
	width: 100%;
}

.category-name{
	position: absolute;
	color: white;
	font-family: ABeeZee;
	font-size: 20px;
	bottom: 0;
	padding: 15px 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1));
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}




.reviews-section{
	display: grid;
	grid-template-columns: 50% 50%;
}

.review,.podcast{
	display: flex;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #bdc3c7;
	box-shadow: 0 3px 15px -3px rgba(0,0,0,0.4);
	margin-bottom : 50px;
}

.reviews,.podcasts{
	padding: 0 20px;
}

.review-list,.podcast-list{
	padding: 20px 0;
}

.review-image{
	max-width: 20%;
	overflow: hidden;

}

.review-image img{
	width: 100%;
	border-radius: 100%;
}


.review-info{
	margin-left: 20px;
	font-family: Karla;
	width: 80%;
	font-size: 18px;
}

.review-description,.podcast-player{
	margin-bottom: 25px;
}

.podcast-title{
	margin-bottom: 10px;
}

.job-comparison{
	display: grid;
	/*grid-template-columns: 20% 40% 40%;*/
	font-size: 18px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #dcdde1;
	margin: 30px 0;
}

.comparison-head,.job-row{
	display: flex;
}

.comparison-head>div:nth-child(n+1),.job-row>div:nth-child(n+1){
	flex: 2;
	-webkit-flex: 2;  /* For Safari*/
	-ms-flex: 2;  /* For IE*/ 
	padding: 15px 10px;
	box-sizing: border-box;
}

.comparison-head>div:nth-child(1),.job-row>div:nth-child(1){
	flex: 1;
	-webkit-flex: 1;  /* For Safari*/
	-ms-flex: 1;  /* For IE*/ 
	background: #f5f6fa;
	min-width: 20%;
	/*word-break:break-all;*/
}

.comparison-head>div{
	background: #dcdde1!important;
	font-weight: bold;
}


.contact-section{
	display: grid;
	grid-template-columns: 40% 60%;
}

.contact,.map{
	padding: 0 20px;
}

.material-input{
	border-bottom: 1px solid #bdc3c7;
	padding: 10px;
	background: rgba(245,246,250,0.4);
	transition: 0.2s ease border;
}

.material-button{
	padding: 10px 20px;
	color: #FFFFFF;
	background: #3498db;
	cursor: pointer;
	margin-left: auto;
}

.contact-field{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.contact-field label{
	display: block;
	padding: 5px;
	font-size: 14px;
}

.map{
	padding-left: 50px;
}

.map iframe{
	width: 100%;
	border: 0;
}

.section-title-small{
	font-size: 22px;
}

.tutorial-list{
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin-bottom: 30px;
}

.tutorial{
	padding: 5px 20px;
	margin-bottom: 50px;
	font-size: 0px;
	cursor: pointer;
}

.tutorial iframe{
	width: 100%;
	height: auto;
	min-height: 250px;

}

.glossary-container{
	display: flex;
	margin: 30px 0;
}

.table-of-content{
	display: flex;
	flex-direction: column;
	min-width: 200px;

/*	position: -webkit-sticky;
	position: sticky;
	min-width: 200px;
	align-self: flex-start;
	top: 0;*/

}

.table-of-content a{
	font-size: 16px;
	margin-top: 10px;
}

.glossary-list{
	flex: 1;
	-webkit-flex: 1;  /* For Safari*/
	-ms-flex: 1;  /* For IE*/ 
}

.glossary{
	display: flex;
	border-bottom: 3px solid #ecf0f1;
	padding: 20px 0;
}

.glossary-image{
    max-width: 100%;
    overflow: hidden;
}

.glossary-image img{
    width: 100%;
}

.glossary-info{
	margin-left: 30px;
	font-size: 18px;
	line-height: 1.5;
}






@media screen and (max-width:840px){

	.head{
		flex-direction: column;
		text-align: center;
	}

	.search{
		margin: 0 auto;
		margin-top: 20px;
	}

	nav ul{
		width: 100%;
	}

	.top-section{
		flex-direction: column;
	}

	.top-main{
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 30px;
	}

	.top-side{
		width: 100%;
		box-sizing: border-box;
	}
	
	.popular-content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.popular{
		flex: 0 0 45%;
		-webkit-flex: 0 0 45%;  /* For Safari*/
		-ms-flex: 0 0 45%;  /* For IE*/
		margin-bottom: 30px; 
	}

	.popular a{
		flex-direction: column;
	}

	.popular-image{
		/*flex: 0 0 200px;*/
		width: 100%;
		margin-bottom: 10px;
	}

	.popular-info{
		margin-left: 0;
		width: 100%;
	}

	.middle-section{
		flex-direction: column;
	}

	.middle-container,.category-section{
		width: 100%;
		box-sizing: border-box;
	}

	.category-list{
		padding: 0;
	}

	.category{
		flex: 0 0 21%;
		-webkit-flex: 0 0 21%;  /* For Safari*/
		-ms-flex: 0 0 21%;  /* For IE*/ 
	}

	.tutorial-list{
		grid-template-columns: 50% 50%;
	}

	.contact-section {
    	grid-template-columns: 100%;
	}

	.map {
    	padding-left: 20px;
	}

	.reviews-section {
	    grid-template-columns: 100%;
	}

	.glossary{
		flex-direction: column;
		padding: 0 20px;
	}

	.glossary-image{
		max-width: 80%;
		margin: 0 auto;
	}
	.glossary-info {
    	margin: 20px 0;
	}

}





@media screen and (max-width:640px){
	#menu{
		display: block;
		transform: translate(-120vw,0);
	}

	.menu-open,.menu-close{
		display: block;
	}
	
	#menu .active{
		color: #3498db!important;
	}

	nav{
		display: none;
	}

	.head{
		box-shadow: 0 3px 15px -3px rgba(0,0,0,0.3);
		padding-top: 100px;
	}
	
	.top-info{
		position: fixed;
		z-index: 1;
		background: #FFFFFF;
		width: 100%;
		box-sizing: border-box;
		box-shadow: 0 3px 10px -3px rgba(0,0,0,0.3);
		justify-content: flex-start;
	}

	.top-info .social {
    	display: none; 
	}
	.date{
		margin-top: 7px;
	}

	#logo{
		font-size: 48px;
	}

	.searchtext{
    	width: 100%;
	}

	.search{
    	width: 100%;
	}

	.section-title{
		font-size: 24px;
	}

	.section-title-small {
    	font-size: 20px;
	}

	.main-news-title {
    	font-size: 24px;
	}

	.main-news-author {
    	font-size: 18px;
	}

	.main-news-info {
    	padding: 20px 10px;
    }

	.popular, .middle {
    	flex: 0 0 100%;
    	-webkit-flex: 0 0 100%;  /* For Safari*/
		-ms-flex: 0 0 100%;  /* For IE*/
	}

	.category{
		flex: 0 0 45%;
		-webkit-flex: 0 0 45%;  /* For Safari*/
		-ms-flex: 0 0 45%;  /* For IE*/ 
	}

	.tutorial-list{
		grid-template-columns: 100%;
	}


	.job-comparison {
	    font-size: 14px;
	}

	.comparison-head>div:nth-child(n+1), .job-row>div:nth-child(n+1) {
	    padding: 10px 5px;
	}

	.comparison-head>div:nth-child(1), .job-row>div:nth-child(1) {
     word-break: break-all; 
	}

	.review, .podcast {
    	flex-direction: column;
    	padding: 20px;
	}

	.review-image{
		max-width: 30%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.review-info{
		margin: 0 auto;
		width: 100%;
	}

	.reviews, .podcasts,.tutorial,.contact, .map {
    	padding: 0;
	}

	.table-of-content{
		position: static;
		margin-bottom: 50px;
	}

	.glossary-container{
		display: block;
	}

	.glossary-list{
		margin-left: 0;
	}

}